{% extends 'base.html' %}

{% block title %}Your Dashboard{% endblock %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Employee/dashboard.css' %}">
    <style>
     {#.header {#}
     {#       text-align: center;#}
     {#       color:  #83adfa;#}
     {#       padding: 2rem 0;#}
     {#   }#}

           .header {
            position: relative;
            text-align: center;
            color: #83adfa;
            padding: 2rem 0;
            overflow: hidden;
            background-color: transparent;
               margin: 5rem;
        }
        .header h1 {
            font-size: 3rem;
            margin-bottom: 0.5rem;
                font-weight: 900;
        }
        .header p {
            font-size: 1.25rem;
        }
        .line {
            position: absolute;
            width: 2px;
            height: 100%;
            background: rgb(131 173 250);
            top: 0;
            animation: move-line 5s linear infinite;
        }
        .line:nth-child(1) { left: 10%; animation-duration: 5s; }
        .line:nth-child(2) { left: 20%; animation-duration: 4s; }
        .line:nth-child(3) { left: 30%; animation-duration: 6s; }
        .line:nth-child(4) { left: 40%; animation-duration: 7s; }
        .line:nth-child(5) { left: 50%; animation-duration: 3s; }
        .line:nth-child(6) { left: 60%; animation-duration: 8s; }
        .line:nth-child(7) { left: 70%; animation-duration: 5.5s; }
        .line:nth-child(8) { left: 80%; animation-duration: 4.5s; }
        .line:nth-child(9) { left: 90%; animation-duration: 6.5s; }
        .line:nth-child(10) { left: 95%; animation-duration: 7.5s; }

        @keyframes move-line {
            0% { transform: translateY(-100%); }
            100% { transform: translateY(100%); }
        }

        .container{
            padding: 10px;
            display: block;/
            height: 100%;
            width: 100%;
        }
        .icon-container {
        display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 75px;
    background-color: #83adfa;
    border-radius: 50%;
}
.card-number {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5px;
}
.card-number {
    font-size: 2.5rem;
}
.card-title{
    color: #83adfa;
}
.card-body {
    background-color: transparent;
    color: #83adfa;
}

        .icon-container i{
            font-size: 3rem;
            color: white !important;
        }
        .detail-container{
            display: block;
    float: right;
    text-align: right;
    width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 <div class="header">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <h1>Welcome to Our Dashboard</h1>
            <p>Get insights into your data and track your progress</p>
        </div>
            </div>
        </div>
        <div class="row">
                    <div class="col-md-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="icon-container mr-3">
                                        <i class="bi bi-building fa-2x text-primary"></i>
                                    </div>
                                    <div class="detail-container">
                                        <h5 class="card-title mb-0">No. of Organizations</h5>
                                        <div class="card-number">{{ no_of_organizations }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <div class="col-md-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="icon-container mr-3">
                                        <i class="bi bi-people fa-2x text-primary"></i>
                                    </div>
                                    <div class="detail-container">
                                        <h5 class="card-title mb-0">No. of Users</h5>
                                        <div class="card-number">{{ no_of_users }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            <div class="col-md-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="icon-container mr-3">
                                        <i class="bi bi-list-task fa-2x text-primary"></i>
                                    </div>
                                    <div class="detail-container">
                                        <h5 class="card-title mb-0">No. of Tasks</h5>
                                        <div class="card-number">{{ no_of_tasks }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                    <div class="col-md-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="icon-container mr-3">
                                        <i class="bi bi-file-arrow-up fa-2x text-primary"></i>
                                    </div>
                                    <div class="detail-container">
                                        <h5 class="card-title mb-0">No. of Uploaded Documents</h5>
                                        <div class="card-number">{{ no_of_uploaded_files }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                 <div class="col-md-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="icon-container mr-3">
                                        <i class="bi bi-question fa-2x text-primary"></i>
                                    </div>
                                    <div class="detail-container">
                                        <h5 class="card-title mb-0">No. of Questions</h5>
                                        <div class="card-number">{{ no_of_questions }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                  <div class="col-md-4">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="icon-container mr-3">
                                        <i class="bi bi-check-circle fa-2x text-primary"></i>
                                    </div>
                                    <div class="detail-container">
                                        <h5 class="card-title mb-0">No. of Trained Documents</h5>
                                        <div class="card-number">{{ no_of_trained_files }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


        </div>

    </div>
{% endblock %}

