{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Employee/employeestyle.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="form">
        <h2>Log In</h2>

        <div class="error-message-container">
            {% if error %}
            <div class="error-message">
                <p>{{ error|safe }}</p>
            </div>
            {% endif %}
        </div>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
    </div>
</div>
{% endblock %}
