{% extends 'base.html' %}

{% block title %}Your Organization Profile - GenZ{% endblock %}

{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}

    <h1>{{ organization.name }}'s Profile</h1>
    <p><strong>Name:</strong> {{ organization.name }}</p>
    <p><strong>Domain Name:</strong> {{ organization.domain_name }}</p>
    <p><strong>Website:</strong> {{ organization.website }}</p>
    <p><strong>City:</strong> {{ organization.city }}</p>
    <p><strong>Country:</strong> {{ organization.country }}</p>
    <a href="{% url 'Employee:edit_profile' organization.domain_name %}">Edit Profile</a>
    <a href="{% url 'Employee:tasklist' %}">Tasks</a>

{% endblock %}