{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Employee/employeestyle.css' %}">
{% endblock %}

{% block title %}Create an Account{% endblock %}

{% block content %}

<div class="login-signup-container">
     <div class="error-message-container">
            {% if error %}
            <div class="error-message">
                <p>{{ error|safe }}</p>
            </div>
            {% endif %}
     </div>
    <div class="login-form card">
        <div class="card-header">
            <h5 class="card-title">Sign Up</h5>
        </div>
        <div class="card-body">
             <form method="POST">
            {% csrf_token %}
             <div class="mb-3">
                    <label class="form-label">{{ form.email.label }}</label>
                    {{form.email}}
             </div>
             <div class="mb-3">
                    <label class="form-label">{{ form.password1.label }}</label>
                    {{form.password1}}
             </div>
             <div class="mb-3">
                    <label class="form-label">{{ form.password2.label }}</label>
                    {{form.password2}}
             </div>


              <button type="submit" class="btn btn-primary">Join</button>
                 <button type="button" class="btn btn-outline-secondary mt-2">Clear</button>
        </form>
        </div>
    </div>
{#    <div class="form">#}
{#       #}
{#    </div>#}
</div>

{% endblock %}
