{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Employee/task.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row mb-3">
        <h3>Tasks of {{ organization.name }}</h3>

        <div class="col">
            <button class="btn btn-primary float-right" onclick="location.reload();">Refresh</button>
        </div>
    </div>
    <div class="task-table-container row justify-content-center border border-light-subtle">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Task ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Title</th>
                            <th scope="col">Created By</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td scope="row">{{ task.id }}</td>
                            <td>{{ task.get_task_status_display }}</td>
                            <td>{{ task.task_title }}</td>
                            <td>{{ task.employee }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
    </div>
</div>

{% endblock %}
