{% extends 'base.html' %}

{% block title %}Train Your Bot{% endblock %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Employee/train.css' %}">
{% endblock %}

{% block content %}
<div class="train-container">
    <div class="row">
        <!-- Left Side: Table and Upload Form -->

        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" class="mt-4">
                {% csrf_token %}
                <div class="custom-file-container" id="file-drop-zone">

                    <input type="file" name="file" class="custom-file-input" id="fileUpload" style="display: none;">
                    <label class="custom-file-label" for="fileUpload">Choose a file or drag & drop it here<br><small>JPEG, PNG, PDF, and MP4 formats, up to 50MB</small></label>
                     <div style="text-align: center; margin-top: 10px;">
                        <i class="bi bi-cloud-arrow-up-fill"></i>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary mt-2">Upload</button>
                <a class="test-bot mt-2" href="/client/{{ organization }}">Test you bot here!</a>
            </form>

        </div>

         <div class="col-md-8">
            <h3 class="upload-files-header">Uploaded Files</h3>
            {% if files %}
            <form action="{% url 'Employee:fillIndex' %}" method="post">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Select</th>
                                <th scope="col">File Name</th>
                                <th scope="col">Uploaded By</th>
                                <th scope="col">Upload Date</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in files %}
                            <tr>
                                <td><input type="checkbox" name="files" value="{{ file.id }}"></td>
                                <td>{{ file.file.name }}</td>
                                <td>{{ file.uploaded_by.user.email }}</td>
                                <td>{{ file.upload_date }}</td>
                                <td>{% if file.trained %}
                                     <span class="text-success">Trained</span>
                                    {% else %}
                                    <span class="text-danger">Not Trained</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary mt-3">Train</button>
                </div>
            </form>
            {% else %}
                <span class="custom-file-label">You haven't uploaded any documents yet!</span>
            {% endif %}
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var dropZone = document.getElementById('file-drop-zone');
        var fileInput = document.getElementById('fileUpload');

        dropZone.addEventListener('click', function() {
            fileInput.click();
        });

        dropZone.addEventListener('dragover', function(e) {
            e.preventDefault();
            e.stopPropagation();
            dropZone.classList.add('dragover');
        });

        dropZone.addEventListener('dragleave', function(e) {
            e.preventDefault();
            e.stopPropagation();
            dropZone.classList.remove('dragover');
        });

        dropZone.addEventListener('drop', function(e) {
            e.preventDefault();
            e.stopPropagation();
            dropZone.classList.remove('dragover');

            var files = e.dataTransfer.files;
            if (files.length > 0) {
                fileInput.files = files;
                var event = new Event('change', { 'bubbles': true });
                fileInput.dispatchEvent(event);
            }
        });

        fileInput.addEventListener('change', function() {
            var fileName = fileInput.files[0].name;
            var label = dropZone.querySelector('.custom-file-label');
            label.textContent = fileName;
        });
    });
</script>
{% endblock %}
