body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
}
.home-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-dashboard{
   padding: 1em;
    display: block !important;
    width: 85%;
    margin: 0 auto;
    /*background-color: rgba(0, 0, 0, 0.5); !* Optional: To add a dark overlay *!*/
}

.hero {
    text-align: left;
    padding: 20px;
}

.hero h1 {
    font-size: 3em;
}

.hero p {
    font-size: 1.2em;
}

.cta {
    margin-top: 20px;
}

.cta button {
    padding: 10px 20px;
    font-size: 1em;
    /*color: #000;*/
    /*background-color: #fff;*/
    /*border: none;*/
    cursor: pointer;
}

.card{
   border: solid;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 3px solid #63aeff;
    border-radius: .25rem;
}