.container {
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container h2 {
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 35px;
}

.error-message-container {
    min-height: 5px;
    margin-bottom: 2px;
}

.error-message {
    color: #4CAF50;
    padding: 3px;
    margin-bottom: 3px;
    text-align: center;
}

.form {
    background-color: #666666;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form label {
    align-self: flex-start;
    font-size: 14px;
}

.form input {
    width: 100%;
    padding: 8px;
    margin: 5px 5 15px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    align-self: flex-start;
}

.form h2 {
    text-align: center;
}

.form button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #45a049;
}

