body {
    background-color: lightgray;
}


.container {
    max-width: 800px; /* Center content */
}

.table {
    background-color: #146c43; /* Green table background */
    color: #ffffff; /* White text */
}

.table th, .table td {
    border-color: #ffffff; /* White border color */
}

.table thead th {
    background-color: #ffffff; /* Dark grey header */
    border-color: #ffffff; /* White border color */
}

.btn-success {
    background-color: #198754; /* Darker green for button */
    border-color: #198754;
}

.btn-success:hover {
    background-color: #146c43; /* Darker shade on hover */
    border-color: #146c43;
}