body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.genz {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.user-menu {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.user-menu .dropdown-toggle {
  color: white;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.user-menu:hover .dropdown-menu  {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}

.dropdown-item {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: black;
}

.dropdown-item:hover {
  background-color: #45a049;
  color: white;
}

.login-register button {
  background-color: aliceblue;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 12px;
}

.login-register button:hover {
  background-color: #45a049;
}

.introduction {
  text-align: center;
  margin-top: 50px;
}

.introduction h1 {
  font-size: 30px;
}

.introduction p {
  font-size: 18px;
  color: #666;
}
