body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.navbar-brand {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.employee-navbar {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
}

.employee-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.employee-list li {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  position: relative;
}

.employee-username {
  color: white;
}

.nav-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  padding-top: 14px;
  top: 100%;
  background-color: #333;
  color: #4CAF50;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  margin-right: 10px;
}

.nav-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 8px 8px;
  text-decoration: none;
  display: block;
  color: #666666;
}

.dropdown-item:hover {
  background-color: #45a049;
}

.login-signup button {
  background-color: aliceblue;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 12px;
}

.login-signup button:hover {
  background-color: #45a049;
}

.menu-icon {
  display: flex;
  color: cornsilk;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
  align-self: flex-end;
}

.menu-icon div {
  color: cornsilk;
  height: 3px;
  background-color: white;
  margin: 2px 0;
}

.introduction {
  text-align: center;
  margin-top: 50px;
}

.introduction h1 {
  font-size: 30px;
}

.introduction p {
  font-size: 18px;
  color: #666;
}
