body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.navbar {
    background-color: #333; /* Dark background color */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.navbar-brand {
    font-size: 1.8rem; /* Larger font size */
    font-weight: bold; /* Bold text */
    text-transform: uppercase; /* Uppercase text */
    text-decoration: none;
    color: #fff; /* White text color */
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 15px; /* Increased margin */
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #555; /* Darker background on hover */
    border-radius: 5px;
}

.login-register {
    display: flex;
    align-items: center;
}

.login-register a {
    margin-left: 10px;
}

.login-register button {
    background-color: #007BFF; /* Blue background color */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-register button i {
    margin-right: 8px; /* Space between icon and text */
}

.login-register button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
