<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            GenZ
        {% endblock %}
    </title>

    <!-- Link CSS file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!-- Block for additional CSS files -->
    {% block extra_css %}
    {% endblock %}
</head>

<body>
<!-- Navbar -->
<div class="navbar">
    <a href="{% url 'main:home' %}">
        <div class="genz">GenZ</div>
    </a>

    {% if user.is_authenticated %}
        <div class="user-menu">
            <a href="{% url 'Employee:dashboard' %}">
                <div class="username">{{ user.username }}</div>
            </a>

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">Edit</a>
                <a class="dropdown-item">Log Out</a>
            </div>
        </div>

    {% else %}
        <div class="login-register">
            <a href="{% url 'Employee:login' %}">
                <button>Log In</button>
            </a>
            <a href="{% url 'Employee:signup' %}">
                <button>Sign Up</button>
            </a>
        </div>
    {% endif %}
</div>

{% block content %}
    Replace Content Here
{% endblock %}

</body>
</html>
