<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            GenZ
        {% endblock %}
    </title>

    <!-- Link CSS file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!-- Include Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Block for additional CSS files -->
    {% block extra_css %}
<!--    {% load bootstrap5 %}-->
<!--    {% bootstrap_css %}-->
<!--    {% bootstrap_javascript %}-->
    {% endblock %}

</head>

<body>
<!-- Navbar -->
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <a class="navbar-brand" href="{% url 'main:home' %}">GenZ</a>

    {% if user.is_authenticated %}
        <div class="container-employee">
            <ul class="employee-list">
                <li>
                    <a class="employee-username" href="{% url 'Employee:profile' %}">Hello, {{ user.username }}!</a>
                </li>
                <li class="nav-dropdown">
                    <div class="menu-icon">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'Employee:profile' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'Employee:tasklist' %}">Tasks</a>
                        <a class="dropdown-item" href="{% url 'Employee:logout' %}">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    {% else %}
        <div class="container-signup-login">
            <a href="{% url 'Employee:signup' %}">
                <button class="btn btn-outline-success me-2" type="button">Sign Up</button>
            </a>
            <a href="{% url 'Employee:login' %}">
                <button class="btn btn-outline-secondary" type="button">Log In</button>
            </a>
        </div>
    {% endif %}
</nav>

{% block content %}
    Replace Content Here
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
