<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            GenZ
        {% endblock %}
    </title>

    <!-- Link CSS file -->
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!-- Include Bootstrap -->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Block for additional CSS files -->
    {% block extra_css %}

    {% endblock %}

</head>

<body class="d-flex flex-column min-vh-100">
<!-- Navbar -->
<nav class="navbar navbar-light fixed-top" style="background-color:#007bff9c;">
    <div class="container-fluid">

    <a class="navbar-brand" href="{% url 'main:home' %}">GenZ</a>

    {% if user.is_authenticated %}
        <div class="container-employee">
            <ul class="employee-list">
                <li>
                    <a class="employee-username" href="{% url 'Employee:dashboard' %}">Hello, {{ user.username }}!</a>
                </li>
                <li class="nav-dropdown">
                    <div class="menu-icon">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'Employee:profile' user.employee.organization.domain_name %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'Employee:train' %}">Train Your Bot</a>
                        <a class="dropdown-item" href="{% url 'Employee:tasklist' %}">Tasks</a>
                        <a class="dropdown-item" href="{% url 'Employee:dashboard' %}">Statistics</a>
                        <a class="dropdown-item" href="{% url 'Employee:logout' %}">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    {% else %}
       <div class="container-signup-login">
        <a href="{% url 'Employee:signup' %}" class="btn btn-outline-primary d-flex align-items-center">
            <i class="bi bi-person-plus me-2"></i>
        </a>
        <a href="{% url 'Employee:login' %}" class="btn btn-outline-primary d-flex align-items-center">
            <i class="bi bi-box-arrow-in-right me-2"></i>
        </a>
    </div>
    {% endif %}
    </div>
</nav>

<div class="container-fluid">
    {% block content %}
    {% endblock %}
</div>


<footer class="bg-light py-3 mt-auto" style="font-size: small">
    <div class="text-center">
        <nav class="d-flex justify-content-center">
            <span class="text-muted">&copy; 2024 GenZ. All rights reserved.</span>
            <a href="#" class="text-muted mx-2">Privacy Policy</a>
            <a href="#" class="text-muted mx-2">Terms of Service</a>
            <a href="#" class="text-muted mx-2">Contact</a>
        </nav>
    </div>
</footer>

<!-- Bootstrap Bundle with Popper -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>