{% extends 'base.html' %}
{% block title %}GenZ{% endblock %}
 {% load static %}
{% block extra_css %}

<link rel="stylesheet" type="text/css" href="{% static 'main/../../../Employee/static/Employee/dashboard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/home.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="hero">
            <h1>DESIGN THE FUTURE</h1>
            <p>Welcome to GenZ. get your questions answered </p>
            <div class="cta">
                <a href="{% url 'Employee:login' %}">
                    <button>Get started</button>
                </a>
            </div>
        </div>
        <div class="features">
            <div class="feature">
                <h2>01</h2>
                <p> information 1.</p>
            </div>
            <div class="feature">
                <h2>02</h2>
                <p>information 2</p>
            </div>
            <div class="feature">
                <h2>03</h2>
                <p> information 3</p>
            </div>
        </div>
    </div>
{% endblock %}
