<!doctype html>

<html>
<head>
    <title>GenZ</title>

    <!-- Link CSS file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/home.css' %}">
</head>

<body>

<!-- Navbar -->
<div class="navbar">
    <div class="name">GenZ</div>
    <div class="login-register">
        <button>Log In</button>
        <button>Sign Up</button>
    </div>
</div>

<!-- Introduction Section -->
<div class="introduction">
    <h1>Welcome</h1>
    <p>Put some brief introduction here later.</p>
</div>


</body>
</html>
